.hamburguer, .logo2 {
  display: none;
}

@media(max-width:1000px){
  .logo1 {
    display: none;
  }
  .hamburguer, .logo2 {
    display: block;
  }
  #navMenu {
    display: none;
  }
  #logo {
    margin-top: 15px;
    margin-left: 60px;
    position: fixed;
  }

}

@media screen and (max-device-width: 480px){
  /* Todo el CSS para iPhone va aqui */
  .logo1 {
    display: none;
  }
  .hamburguer, .logo2 {
    display: block;
  }
  #navMenu {
    display: none;
  }
  #logo {
    top: 0;
    margin-top: 0;
    margin-left: 0px;
    position: fixed;
    padding-right: 60px;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 35px;
    /*background: red;*/
  }
}

/* SET BASIC CONTENT - HTML AND BODY */

.full-menu, .content {

  overflow: hidden;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
}

.full-menu, .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* SET BASIC CONTENT AND ANIMATION EFFECT- MENU OVERLAY*/
.full-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  opacity: 0.5;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  width: 100%;
  height: 100%;
  background: rgba(255,113,177,1);
  background: -moz-linear-gradient(left, rgba(255,113,177,1) 0%, rgba(0,255,255,1) 33%, rgba(66,250,121,1) 66%, rgba(255,243,109,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,113,177,1)), color-stop(33%, rgba(0,255,255,1)), color-stop(66%, rgba(66,250,121,1)), color-stop(100%, rgba(255,243,109,1)));
  background: -webkit-linear-gradient(left, rgba(255,113,177,1) 0%, rgba(0,255,255,1) 33%, rgba(66,250,121,1) 66%, rgba(255,243,109,1) 100%);
  background: -o-linear-gradient(left, rgba(255,113,177,1) 0%, rgba(0,255,255,1) 33%, rgba(66,250,121,1) 66%, rgba(255,243,109,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,113,177,1) 0%, rgba(0,255,255,1) 33%, rgba(66,250,121,1) 66%, rgba(255,243,109,1) 100%);
  background: linear-gradient(to right, rgba(255,113,177,1) 0%, rgba(0,255,255,1) 33%, rgba(66,250,121,1) 66%, rgba(255,243,109,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff71b1', endColorstr='#fff36d', GradientType=1 );
}

.full-menu li {
  font-size: 4em;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(2%);
          transform: translateY(2%);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.full-menu li:after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
}

.full-menu li:hover:after {
  width: 100%;
}

.full-menu.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
  z-index: 99;
}

.full-menu.active a {
  color: white;
}

.full-menu.active li {
  font-family: AvantGardeBold;
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.full-menu.active li:hover {
  -webkit-animation: zoom 200ms ease-in;
          animation: zoom 200ms ease-in;
}

.full-menu ul {
  list-style: none;
}

.full-menu.active .inicio {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.full-menu.active .work {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.full-menu.active .about {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.full-menu.active .espai {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.full-menu.active .mail {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.full-menu.active .idioma {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.intructions {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;
}

/* SET BASIC CONTENT AND ANIMATION EFFECT- HAMBURGUER MENU*/
.hamburguer {
  position: fixed;
  width: 5em;
  height: 3em;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 70px;
  padding-left: 70px;
  z-index: 100;
  cursor: pointer;
  right: 0;
}

.hamburguer:hover {
  -webkit-animation: zoom 300ms ease-in;
          animation: zoom 300ms ease-in;
}

.lines {
  background-color: #fff;
  width: 100%;
  height: 10px;
  margin: 10px 0;
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
}

.shakeloop {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

  @keyframes shake {
  1.25%, 11.25% {
    margin-left: -2px;
  }

  2.5%, 10% {
    margin-left: 2px;
  }

  3.75%, 6.25%, 8.75% {
    margin-left: -6px;
  }

  5%, 7.5% {
    margin-left: 6px;
  }
}

.lines-stop {
    margin-left: 0 !imp

}

.content {
  background-image: url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/96.jpg);
  background-size: cover;
  font-size: 3em;
}

/* SET ANIMATION EFFECT - HAMBURGUER MENU CLOSED*/
.close-hamburguer .lines {
  cursor: pointer;
}

.close-hamburguer .line-top {
  -webkit-transform: translateY(200%) rotate(45deg);
          transform: translateY(200%) rotate(45deg);
}

.close-hamburguer .line-mid {
  opacity: 0;
}

.close-hamburguer .line-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg);
          transform: translateY(-200%) rotate(135deg);
}